body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 100px auto 225px;
  height: 100%;
  width: 100%;
  font-family: arial;
}

a {
  text-decoration: none;
}

#header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#leftNav {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
}

#rightNav {
  grid-column: 3/4;
  grid-row: 2/3;
}

#footer {
  grid-column: 1/4;
  grid-row: 3/4;
}

#article {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#btnHost {
  grid-column: 1/3;
}

#btnJoin {
  grid-column: 4/6;
}

.bigButton {
  margin: 10px;
  border: thick solid grey;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  min-height: 150px;
}

.bigText {
  height: inherit;
  width: inherit;
  color: black;
  font-size: 100px;
}

#title {
  font-size: 30px;
  grid-column: 1/6;
  display: flex;
  justify-content: center;
}

#newRoomForm {
  grid-column: 2/4;
  display: flex;
  font-size: 24px;
  flex-direction: column;
}

.inp {
  height: 40px;
  font-size: 20px;
}

#roomSubmit {
  margin-top: 10px;
  height: 40px;
  font-size: 30px;
}

#roomInfo {
  grid-column: 1/2;
  border-right: medium solid black;
  border-bottom: medium solid black;
}

#userList {
  height: inherit;
  border-right: thin solid black;
}

#leaveBox {
  border-bottom: thin solid grey;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
}

#poster {
  width: inherit;
  border-top: thin solid black;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#postIdea {
  grid-column: 2/3;
}

#ideas {
  grid-row: 1/3;
  grid-column: 2/4;
  overflow-y: scroll;
}

#idea {
  margin: 30px;
}

#ideaBox {
  background-color: #ededed;
  padding: 10px;
  border: medium solid grey;
  overflow: auto;
}

#comment {
  padding-left: 5px;
  border-left: thick solid black;
  margin-left: 50px;
  max-width: 400px;
}

#roomItem {
  border: medium solid grey;
  padding: 5px;
  background-color: #ededed;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 50px;
}

#roomItemButton {
  grid-column: 2/3;
}


.authForms {
  font-size: 18px;
  grid-column: 1/6;
  display: flex;
  justify-content: center;
}


.messageBase {
  font-size: 18px;
}

.messageAlert, .messageBase {
  color: red
}

.messageConfirm, .messageBase {
  color: green
}