<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-1000">
    <link rel="stylesheet" media="screen" href="../static/index.css">
    <title>Idea Factory - Host</title>
  </head>
  <body>
    <div id="header">
      <div id="title">
        <h1>New room for ideas!</h1>
      </div>
    </div>
    <div id="leftNav">
    </div>
    <div id="article">
      <form id="newRoomForm" method="POST" action="host">
        <p class="descText">Give the room a name:</p>
        <input class="inp" type="text" placeholder="Room name" name="roomName" required/>
        <p class="descText">Private room? Add a password:</p>
        <input id="password" class="inp" type="password" placeholder="*********" name="roomPassword" />
        <p class="descText">Confirm password:</p>
        <input id="confirm_password" class="inp" type="password" placeholder="*********" />
        <!--p class="descText">Nickname:</p>
        <input class="inp" type="text" placeholder="Nickname" name="nickName" required/-->
        <input type="submit" id="roomSubmit" value="Create room" />
      </form>
    </div>
    <div id="rightNav">
    </div>
    <div id="footer">
    </div>
  </body>
</html>

<script>
  var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }
  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>