<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-1000">
    <link rel="stylesheet" media="screen" href="../static/index.css">
    <title>Idea Factory</title>
  </head>
  <body>
    <div id="header">
      <div id="title">
        <h1>IdeaFactory</h1>
        <!-- Sign up form -->
        <form id="signup" method="POST" action="signup">
            <p class="descText">Username:</p>
            <input class="inp" type="text" placeholder="Username" name="username" required/>
            <p class="descText">Password:</p>
            <input class="inp" type="password" placeholder="*********" name="userpassword" required/>
            <input type="submit" id="createuserSubmit" value="Create User" />
        </form>
        <!-- Log in form -->
        <form id="login"  method="POST" action="login">
            <p class="descText">Username:</p>
            <input class="inp" type="text" placeholder="Username" name="username" required/>
            <p class="descText">Password:</p>
            <input class="inp" type="password" placeholder="*********" name="userpassword" required/>
            <input type="submit" id="joinSubmit" value="Create User" />
        </form>
        <!-- Log out form -->
        <form id="logout" method="POST" action="logout">
            <input type="submit" id="logout" value="Log Out">
        </form>
      </div>
    </div>
    <div id="leftNav">
    </div>
    <div id="article">
      <a id="btnHost" class="bigButton" href="host">
        <h1 class="bigText">Host</h1>
      </a>
      <a id="btnJoin" class="bigButton" href="join">
        <h1 class="bigText">Join</h1>
      </a>
    </div>
    <div id="rightNav">
    </div>
    <div id="footer">
    </div>
  </body>
</html>
