<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-1000">
    <link rel="stylesheet" media="screen" href="../static/index.css">
    <title>Idea Factory</title>
  </head>
  <body>
    <div id="header">
      <div id="title">
        <h1>IdeaFactory</h1>
      </div>
    </div>
    <div id="leftNav">
    </div>
    <div id="article">
        <a id="btnHost" class="bigButton" href="hosting.tmpl.html">
          <h1 class="bigText">Host</h1>
        </a>
      <a id="btnJoin" class="bigButton" href="joining.tmpl.html">
        <h1 class="bigText">Join</h1>
      </a>
    </div>
    <div id="rightNav">
    </div>
    <div id="footer">
    </div>
  </body>
</html>
