<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-1000">
    <link rel="stylesheet" media="screen" href="../static/index.css">
    <title>Idea Factory - Join</title>
  </head>
  <body>
    <div id="header">
    </div>
    <div id="leftNav">
    </div>
    <div id="article">
      <!--<form id="newRoomForm" method="POST" action="join">
          <p class="descText">Room name:</p>
          <input class="inp" type="text" placeholder="Room name" name="roomName" required/>
          <p class="descText">Room password (optional):</p>
          <input class="inp" type="password" placeholder="*********" name="roomPassword" />
          <p class="descText">Nickname:</p>
          <input class="inp" type="text" placeholder="Nickname" name="nickName" required/>
          <input type="submit" id="joinSubmit" value="Join room" />
      </form>-->
      <div id="roomList">
        <div id="roomItem">
          <div id="roomItemInfo">
            {{range $idx, $item := .rooms}}<p>{{$item.RoomName}}</p>{{end}}
            <h3 id="roomItemName"></h3>
            <p id="roomItemAuthor"></p>
            <p id="roomItemStatus"></p>
          </div>
          <input type="button" id="roomItemButton" value="Join">
        </div>
      </div>
    </div>
    <div id="rightNav">
    </div>
    <div id="footer">
    </div>
  </body>
</html>
