<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-1000">
    <link rel="stylesheet" media="screen" href="../static/index.css">
    <title>Idea Factory - Join</title>
  </head>
  <body>
    <div id="header">
      <div id="title">
        <h1>Find your room</h1>
      </div>
    </div>
    <div id="leftNav"></div>

      {{if .message}}
        <div class="{{.message.Type}}">
          <p>
            {{.message.Text}}
          <p>
        </div>
      {{end}}

      <div id="roomsList">
        {{range $i, $room := .rooms }}
          <div class="joinRoomEntity">

            <div class="roomEntityTitle">
              <h3>{{$room.Title}} (created by: {{$room.Creator.Name}})</h3>
             </div>

             <div class="roomEntityStatus">
              Members: {{len $room.Members}}
              Ideas: {{len $room.IdeaIDs}}
             </div>
             <div class="roomEntityPassword">
              <form method="POST" action="/join/{{$room.HexID}}">
                {{if not $room.IsPublic}}
                  <input  type="password" placeholder="Password" name="roomPassword" required/>
                {{end}}
                <input type="submit" value="Join" />    
              </form>
             </div>
          </div>
        {{end}}
      </div>
    </div><div id="rightNav">
    </div><div id="footer">
    </div>
  </body>
</html>
